// ==========================================================================
// Images
// ==========================================================================
.img {
    @include m(wrap) {
        border: 1px solid palette(grey, x-light);
        padding: em(12px);
    }
    @include m(avatar) {
        display: block;
        border-radius: $br--round;
        margin-left: auto;
        margin-right: auto;
        margin-top: em(24px);
    }
    @include m(hero) {
         @include mq(large){
            padding-top: em(60px);
            padding-bottom: em(60px);
            margin: 0;
        }
        @include mq(small) {
            padding-top: em(20px);
            padding-bottom: em(20px);
            margin: 0;
            padding-left: em(10px);
            padding-right: em(10px);
        }
        @include mq(medium) {
            padding-top: em(40px);
            padding-bottom: em(40px);
            margin: 0;
        }
    }
    @include m(banner) {
      @include mq(medium) {
        margin-bottom: 4vh;
        height: 28vh;
        cursor: pointer;
        @include m(first) {
            height: 28vh;
            margin-top: 4vh;
            margin-bottom: 4vh;
            cursor: pointer;
        }
      }
      @include mq(small) {
        padding: 2vh;
        cursor: pointer;
        @include m(first) {
            padding: 2vh;
            cursor: pointer;
        }
      }
    }
    @include m(conlabel) {
        display: block;
        padding-top: em(20px);
        height: 100px;
        width: auto;
    }
    @include m(contact) {
        height: 70px;
        width: 70px;
        margin-top: 20px;
        @include mq(small) {
            width: 40px;
            height: 40px;
        }
    }
    @include m(job) {
         @include m(triple) {
            width: 250px;
            height: 85px;
        }
        @include m(jet) {
            width: 250px;
            height: 40px;
        }
        @include m(laundry) {
            width: 130px;
            height: 130px;
        }
    }
    @include m(hobby) {
      @include mq(medium) {
        margin: 0 em(14px) em(20px) em(14px);
        width:130px;
        height:130px;
      }
      @include mq(small) {
        display: none;
      }
    }
}
[class^="img--job"] {
    margin-bottom: 0;
}
