// ==========================================================================
// Placeholders
// ==========================================================================


// Headlines

%hdln-prim {
  color: palette(grey, x-dark);
  font-weight: $font-weight--light;
  font-size: em(42px);
  line-height: (46px/42px);
  margin-top: 0;
}
%hdln-sec {
  color: palette(grey, light);
  letter-spacing: $letter-space;
  font-weight: $font-weight--light;
  font-size: em(24px);
  font-family: $font-family--primary;
}

// Paragraphs

%para-prim {
  @extend %center-align;
  margin:0;
  padding-bottom: em(40px);
  font-family: $font-family--primary;
  font-weight: $font-weight--light;
  font-size: em(24px);
}

// Buttons

%btn {
  padding: 15px 30px;
  border: 0;
  border-radius : $br--default;
  color: $white;
  text-transform: uppercase;
  font-size : em(14px);
  font-weight: $font-weight--bold;
  transition: opacity $trns-duration;
  display: block;
  &:hover {
    opacity: .75;
  }
  &:active {
    opacity: initial;
  }
}

// Icons

%icn--ui {
	line-height: 0;
	cursor: pointer;
}

%panel{
  height: 150px;
  width:150px;
  margin-bottom:em(8px);
  box-shadow: 0 2px 1px $panel-light;
  text-align: center;
  color: $white;
  &:hover{
    box-shadow: 2px 3px 2px $panel-dark;
  }
}
